.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

.cb {
    background-color: #3991f5;
}
      
.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}    

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #3991f5;
}

.btn-default.active {
	background-color: #3991f5;
}